build/
*.synctex.gz
*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.brf
*.bst
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.nlo
*.nls
*.out
*.pdf
*.pyg
*.run.xml
*.snm
*.synctex.gz
*.tex.backup
*.tex~
*.thm
*.toc
*.vrb
*.xdy
*.xml
*blx.bib
.bak 
.mtc
main.pdf
.vscode/
*.aa
*.ag
*.ags
*.agg
*.als
*.dd
*.dlg
*.dls
*.dr
*.drg
*.drs
*.ff
*.flg
*.gg
*.plg
*.pls
*.pp